header {
  background-color: rgb(226, 168, 8);
  border-color: rgb(122, 93, 11);
  border-style: solid;
  border-width: 0 0 1px 0;
  display: flex;
  justify-content: space-around;
}

.header-btn {
  background-color: transparent;
  border: none;
}
